<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>
			Capture Art
		</title>
		<link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="style2.css" />
	</head>
	<body>
		<div id="bg1"></div>
		<div id="bg2"></div>
		<div id="outer">
			<div id="header">
				<div id="logo">
					<h1>
						<a><%=image_tag 'capture-art-newfont.png'%></a>
					</h1>
				</div>
									<div id="search">
										<form action="" method="post">
											<div>
												<input class="text" name="search" size="32" maxlength="64" />
											</div>
										</form>
						</div>
						<div id="nav">
							<ul>
								<li class="first">
									<%= link_to 'Home', blogs_path %>
								</li>
								|
								<li>
									<a href="#">Purchase Prints</a>
								</li>
								|
								<li>
									<a href="#">Graphic Design Services</a>
								</li>
								|
								<li>
									<a href="#">Mobile App</a>
								</li>
								|
								<li>
									<a href="#">Blog</a>
								</li>
								|
								<li>
									<a href="#">Portfolio</a>
								</li>
								|
								<li>
									<a href="#">About</a>
								</li>
								|
								<li class="last">
									<a href="#">Contact</a>
								</li>
							</ul><br class="clear" />
						</div>
					</div>
<p id="notice"><%= notice %></p>

