	<div id="main">
		<div id="sidebar">
			<div class="box">
				<h3>
					Recent Photo Shoots
				</h3>
				<div class="dateList">
					<ul class="linkedList dateList">
						<li class="first">
							<span class="date">Oct 5</span> <a href="#">Chicago Night Walk</a>
						</li>
						<li>
							<span class="date">Oct 4</span> <a href="#">Chicago Cloud Gate</a>
						</li>
						<li>
							<span class="date">Jul 7</span> <a href="#">San Francisco Bridge</a>
						</li>
						<li>
							<span class="date">Jul 2</span> <a href="#">Ft Lauderdale Night Walk</a>
						</li>
						<li>
							<span class="date">Jun 28</span> <a href="#">Venice Beach</a>
						</li>
						<li class="last">
							<span class="date">Jun 24</span> <a href="#">Negril Fire Breather</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="box">
				<h3>
					Did <strong>you</strong> capture art?
				</h3>
				<p>
					<%= link_to 'Create New Post', new_blog_path %>
				</p>
			</div>
				</div>