<%= render 'header' %>
<div id="main">
		<div class="box">

			<img src="http://www.freeimagehosting.net/newuploads/d1ift.jpg" width="800"alt="" class="left" />

<h1>Edit Capture Post</h1>

<%= render 'form' %>

<%= link_to 'Show', @blog %> |
<%= link_to 'Back', blogs_path %>

</div>
</div>